<div class="tit">热门标签</div>
<div class="item-con">
    <div class="hot-tag">
        <a target="_blank" href="#" class="all current">所有</a>
        <a target="_blank" href="#">可爱</a>
        <a target="_blank" href="#">萌翻了</a>
        <a target="_blank" href="#">宠物</a>
        <a target="_blank" href="#">美丽</a>
        <a target="_blank" href="#">调皮</a>
        <a target="_blank" href="#">忠心</a>
        <a target="_blank" href="#">眼神</a>
        <a target="_blank" href="#">销魂</a>
    </div>

</div>
