extends layout

block content
  div(id='wrapper')
    div(id='waterfall-wrapper')
      div(id='waterfall')
        div(id='imgs_container', class="c")


block scripts
    script(data-main='/javascripts/boot.js',src='/javascripts/libs/require.js')


